<div class="topQuestion">
		Is this car a good buy?
</div>
<div class="entryForm">
	<form action="/cars" method="post">
		<input type="text" name="url" placeholder="Paste a Craigslist URL here">
	</form>
</div>