<div class="topQuestion">
		Is this car a good buy?
</div>
<div class="entryForm">
	<form action="/cars" method="post">
		<div>
      <input type="text" name="url" placeholder="Paste a Craigslist URL here">
    </div>
    <div>
      <input type="submit" value="Look it up!">
    </div>
	</form>
</div>
